<ul class='crud-menu-btn list-inline float-right position'>
  <li class="list-inline-item">
    <%= link_to '#', id: "button-delete-#{list.id}" do %>
      <%= icon 'fas', 'trash' %>
    <% end %>
  </li>
</ul>