<%= form_with model: @list, html: { id: "name_validate" }, local: true do |f| %>
  <div class="form-group">
    <%= f.text_field :name, class: 'form validate[required]', placeholder:"リスト名" %>
    <%= f.submit "登録", class: 'btn btn-primary register' %>
  </div>
<% end %>
