<% content_for :css do %>
  <%= stylesheet_link_tag 'lists/index' %>
<% end %>

<div class="song">
  <div class="center">
    <%= link_to "#" do %>
      <%= list.name %>
    <% end %>
  </div>
</div>