<% content_for(:title, t('.title')) %>
<% content_for :css do %>
  <%= stylesheet_link_tag 'lists/edit' %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1 class="white_text text_center">リスト名変更</h1>
      <%= render 'form' %>
    </div>
  </div>
</div>

<div class="back_btn">
  <%= link_to "リストへ戻る", list_path(@list) %>
</div>