<% content_for :css do %>
  <%= stylesheet_link_tag 'lists/new' %>
<% end %>

<%= link_to "曲を探す", search_lists_path %>
<div class="list_form">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <%= render 'form', { list: @list } %>
    </div>
  </div>
</div>

