body {
    .white_text {
        color: white;
    }

    .wrapper {
        width: 100%;
    }

    .text_align {
        text-align: center;
    }

    .block {
        display: inline-grid;
        box-shadow: #00d0f5 0px 2px 10px;
        background-color: white;
        border-radius: 5px;
        width: 40%;
        padding: 35px;
        margin: auto;
        color: black;

        input {
            margin-bottom: 2rem;
        }
    }

    .send_btn {
        text-align: center;
        margin-bottom: 30px;

        input {
            width: 40%;
            box-sizing: border-box;
            margin-bottom: 0;
        }
    }

    label {
        margin-bottom: 0;
        text-align: left;
    }

    .new {
        margin-top: 2rem;
    }
}

.space {
  min-height: 40px;
  margin-top: 10px;
}

@media only screen and (max-width: 750px) {
    .block {
        width: 80% !important;
    }
}

.b {
    margin-bottom: 30px;
}

.btn-primary {
    color: black;
    background-color: #00ff63c9;
    border-color: #070707;
}

.forget_text {
    color: #036af4;
}