// トップページ
main {
  background-color: #FFF;
}

.wrapper {
  width: 100%;
  height: 100%;
}
.top-wrapper {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  position: relative;

  h1 {
    font-size: 5rem;
    text-align:center;
    line-height:0.95em;
    font-weight:bold;
    color: #FFF;
    text-shadow: 0 0 0.2em rgba(0,0,0,1);
  }

  @media only screen and (max-width: 540px) {
    h1 {
      font-size: 2rem;
    }
  }

  .top-inner-text {
    max-width: 100%;
    text-align: center;
    color: white;
    width: 100%;

    @media screen and (max-width: 767px) {
      font-size: 5.0rem;
    }
  }
}


.bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 91vh;
  color: #fff;
}

.bg.-visible:before {
  transform: translate(0, 0);
}

.bg:before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: image-url("back.jpg");
  background-position: calc(50% - 20px) calc(50% - 0px);
  background-size: cover;
  transform: translate(0, 100%);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) .6s;
  content: '';
}

/* テキストのスタイル */
.title {
  display: block;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

.title h1 {
  display: block;
  opacity: 0;
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 1s, opacity linear 0.7s;
}

.title h1:first-child {
  transform: translate(0, 40px);
  transition-delay: 0.25s;
}

.title h1:last-child {
  margin-top: 18px;
  transform: translate(0, 30px);
  transition-delay: 0.45s;
}

.bg.-visible .title h1 {
  opacity: 1;
  transform: translate(0, 0);
}

/****** Base style. ******/


// ヘッダー
header {
  z-index: 3;
  position: fixed;
  width: 100%;
  align-items: center;

  a {
    color: white;
    padding-left: 10px;
  }

  .nav-item a {
    display: inline-block;
  }

  @media (min-width: 100px) {
    width: 100%;
  }
}

// フッター
footer {
    /*footerの装飾*/
    width: 100%;
    background-color: #89c7de;
    color: #fff;
    text-align: center;
}

.white_text {
  color: white;
}

// 使用方法
.use_wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .how_to_use_text {
    text-align: center;
    margin: auto;
    margin-top: 6%;
    span {
      font-size: 3rem;
      color: black;
    }

    @media only screen and (max-width: 540px) {
      span {
        font-size: 2rem;
      }
    }
  }

  .under_line {
    border-bottom: 1px solid #333;
    width: 80%;
  }

  .gif {
    text-align: center;
  }

  .gif_image1 {
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #ce6a6a38;
    margin-left: 10px;
    margin-right: 10px;

    img {
      width: 100%;
      height: auto;
      max-width: 655px;
      min-width: 250px;
      margin: 9px;
      border: 7px solid #ffffff;
    }
  }

  .description1 {
    width: 40%;
    margin: auto;
  }

  .gif_image2 {
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #6fce6a38;
    margin-left: 10px;
    margin-right: 10px;

    img {
      width: 100%;
      height: auto;
      max-width: 655px;
      min-width: 250px;
      margin: 9px;
      border: 7px solid #ffffff;
    }
  }

  .description2 {
    width: 40%;
    margin: auto;
  }
}

// サービス
.what_wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .how_to_use_text {
    text-align: center;
    margin: auto;
    margin-top: 2%;
    span {
      font-size: 3rem;
      color: black;
    }
    @media only screen and (max-width: 540px) {
      span {
        font-size: 2rem;
      }
    }
  }

  .under_line {
    border-bottom: 1px solid #333;
    width: 80%;
  }
}

.service {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 5%;
  margin-left: 2%;
  margin-right: 2%;
  // スライド1
  .service1 {
    width: 660px;
  }
  .slide1 {
    width: 100%;
    img {
      width: 100%;
    }
  }

  .slide2 {
    img {
      width: 100%;
    }
  }
  .swiper--wrapper {
    width: 100%;
    height: 300px;
  }
  
  .swiper-slide {
    color: #ffffff;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 300px;
  }

  // スライド2
  .service2 {
    width: 660px;
  }
  .slide3 {
    width: 100%;
    img {
      width: 100%;
    }
  }

  .slide4 {
    img {
      width: 100%;
    }
  }

  .slide5 {
    img {
      width: 100%;
    }
  }

  .slide6 {
    img {
      width: 100%;
    }
  }

  .swiper-wrapper {
    width: 100%;
    height: auto;
    margin: auto;
  }
  
  .swiper-slide {
    color: #ffffff;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 300px;
    margin: auto;
    border: 2px solid;
    border-color: #d3ff00c2;
  }

  h3 {
    text-align: center;
    span {
      border-bottom: 2px solid;
      border-color: #ff0808b3;
    }
  }

  p {
    text-align: center;
    span {
      display: inline-block;
    }
  }
  p span {
    display: inline-block;
  }

  .swiper {
    margin-top: 1%;
    margin-bottom: 1%;
  }
}

.blue {
  color: #7cb0f8;
}

@media only screen and (max-width: 540px) {
  h2 {
  font-size: 1.5rem;
  }
}

@media only screen and (max-width: 540px) {
  .make_wrap {
  margin-top: 50px;
  }
}

@media only screen and (max-width: 540px) {
  .swiper-slide{
    line-height: 0 !important;

    img {
      height: auto;
    }
  }
}

@media only screen and (max-width: 540px) {
  .service1 {
    width: 100% !important;
  }
  .service2 {
    width: 100% !important;
  }
}