<% content_for :css do %>
  <%= stylesheet_link_tag 'top_pages/top' %>
<% end %>


<div class="wrapper">
    <div class='top-wrapper bg'>
        <span class='top-inner-text title'>
            <h1>『好き』を共有しよう</h1>
        </span>
    </div>

    <div class="use_wrapper">
        <div class="how_to_use_text under_line">
            <span class="white_text">使用方法</span>
        </div>

        <div class="gif">
          <div class="gif_image">
            <%= image_tag "" %>
          </div>
        </div>
    </div>
</div>



<%= javascript_pack_tag 'top_pages/new' %>