main {
  display: block !important;
}

body {
    .wrapper {
      margin: 0 10px 0 10px;
    }


    .list_new_btn {
      text-align: right;
      a {
        width: 100%;
      }
    }

    .button{
      /*影の基点とするためrelativeを指定*/
      position: relative;
        /*ボタンの形状*/
      text-decoration: none;
      display: inline-block;
      text-align: center;
      background: transparent;
      border-radius: 25px;
      border: solid 1px #333;
      outline: none;
        /*アニメーションの指定*/
      transition: all 0.2s ease;
    }
    
    /*hoverをした後のボタンの形状*/
    .button:hover{
      border-color:transparent; 
    }
    
    /*ボタンの中のテキスト*/
    .button span {
      position: relative;
      z-index: 2;/*z-indexの数値をあげて文字を背景よりも手前に表示*/
        /*テキストの形状*/
      display: block;
      padding: 4px 15px;
      background:#5c5d5e;
      border-radius: 25px;
      color:white;
        /*アニメーションの指定*/
      transition: all 0.3s ease;
    }
    
    /*== 下に押し込まれる（立体が平面に） */
    
    /*影の設定*/
    .button:before {
        content:"";
        /*絶対配置で影の位置を決める*/
      position: absolute;
      z-index: -1;
      top:3px;
      left:2px;
        /*影の形状*/
      width: 100%;
      height: 100%;
      border-radius: 25px;
      background-color: #333;
    }
    
    /*hoverの際にY軸に4pxずらす*/
    .button:hover span {
      background-color: rgb(51, 33, 140);
      color: #fff;
      transform: translateY(4px);
    }

    .flex {
      display: flex;
    }

    .list-head {
      color: white;
      padding-left: calc(52px);
      display: flex;

      h1 {
        width:-moz-fit-content; /* Firefox */
        width:fit-content;
        margin: 10px;
      }
    }

    .list {
      width: 100%;
      margin: 0 auto;
    }

    .playlist {
      display: flex;
      height: auto;
      width: 100%;
      text-align: center;
      margin: auto;
      margin-top: 30px;
      max-width: 930px;
    }

    .song {
      color: white;
      margin: 10px;
      height: 10vh;
      width: 30%;
      text-align: center;
    }

    .center {
      display: inline-block;
    }

    .white_text {
      color: white;
    }
    

    // リストタイル

    .tile_width {
      width: 45%;
      background-color: black;
    }
    .tile_wrap {
      display: flex;
      flex-wrap: wrap;
      height: auto;
      .tile {
        width: 50%;
        img {
          width:100%;
          max-width: 100%;
          height: auto;
        }
      }
    }

    .swiper--wrapper {
      /* wrapperのサイズを調整 */
      width: 100%;
      height: 300px;
    }
    
    .swiper-slide {
      /* スライドのサイズを調整、中身のテキスト配置調整、背景色 */
      color: #ffffff;
      width: 100%;
      height: 60%;
      text-align: center;
      height: auto;
    }

    .swiper-button-next {
      color: rgb(251, 255, 0);
    }

    .swiper-button-prev {
      color: rgb(251, 255, 0);
    }

    .list_name {
      letter-spacing: 10px;
      color: white;
    }

    .swiper-pagination-bullet {
      width: 12px !important;
      height: 12px !important;
      margin: 0 0 0 10px !important;
      background: rgb(81, 255, 0) !important;
    }
    
    .swiper-pagination-bullet:first-child {
      margin: 0 !important;
    }

    .controls {
      margin-left: auto;
      text-align: end;
      width: 45%;
    }

    .new-button {
      margin: 10px;
    }

    .no_playlist {
      text-align: center;
      margin-top: 100px;
    }

    .one_playlist {
      height: auto;
      width: 60%;
      text-align: center;
      margin: auto;
      margin-top: 30px;
    }
}

.space {
  min-height: 40px;
  margin-top: 10px;
}

@media only screen and (max-width: 750px) {
  .controls {
      display: none;
  }

  .list-head {
    padding-left: 0 !important;
    justify-content: center;
  }
}

@media only screen and (min-width: 749px) {
  .controls2 {
      display: none;
  }
}

.controls2 {
  margin-left: auto;
  text-align: center;
  width: 100%;
  margin-top: 100px;
}
