body {
    .form-group {
      text-align: center;
      margin: 1rem;
      margin-top: 80px;
    }

    .row {
        margin-right: 0;
    }

    .field_with_errors {
        display: contents;
    }

    .form {
      font-size: 1rem;
      width: 30%;
      height: 4vh;
      margin-right: 10px;
    }

    input::placeholder {
        color: rgb(5, 5, 5);
        opacity: 0.3;
    }

    .text_right {
        text-align: right;
        margin-bottom: 20px;
    }

    .text_center {
        text-align: center;
    }

    .register {
        margin-top: -4px;
    }

    .position {
        margin-top: 2%;
    }

    .white_text{
        color: white;
    }

    .list_title {
        text-align: center;
    }
}