body {
    background-image: image-url("top.png");
    background-repeat:  no-repeat;
    background-position:center right;
    height: 100vh;

    .form-group {
      text-align: center;
    }
    .form {
      font-size: 1rem;
      width: 30%;
      height: 4vh;
    }

    input::placeholder {
        color: rgb(5, 5, 5);
        opacity: 0.3;
    }

    .list-table {
        color: white;
        margin-top: 100px;
        margin-right: calc(50% - 43vw);
        margin-left: calc(50% - 43vw);
    }

    table{
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
    }
    
    table tr{
        border-bottom: solid 1px #eee;
    }
    
    table th,table td{
        text-align: center;
        padding: 15px 0;
    }

    td {
        width: 20%;
    }


    .register {
        margin-top: 200px;
    }

    .short {
        width: 10%;
    }

    .long {
        width: 35%;
    }

    .preview-length {
        width: 10%;
    }

    .artist-length {
        width: 20%;
    }

    .position {
        margin-top: 2%;
    }

    .white_text{
        color: white;
        font-size: 3rem;
    }
}