body {

    h1 {
        color: white;
        text-align: center;
    }

    .search {
        margin-top: 30px;
        text-align: center;
    }

    .form1 {
        margin-bottom: 30px;
        form {
            width:-moz-fit-content; /* Firefox */
            width:fit-content; /* other browsers */
            margin: auto;
        }
    }

    .result {
        text-align: center;
        margin: 10px;
        min-width: 260px;
        flex-wrap: wrap;
    }

    .song-name {
        color: white;
        margin-top: 20px;
        font-size: 25px;
    }

    .song-title {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: auto;
        justify-content: center;
    }

    .artist-name {
        font-size: 15px;
    }


    .color {
        color: white;
    }

    .white_text{
        color: white;
    }
}