body {


    .controls {
        margin-left: auto;
        text-align: end;
        width: 45%;
      }
  
      .button{
        /*影の基点とするためrelativeを指定*/
        position: relative;
          /*ボタンの形状*/
        text-decoration: none;
        display: inline-block;
        text-align: center;
        background: transparent;
        border-radius: 25px;
        border: solid 1px #333;
        outline: none;
          /*アニメーションの指定*/
        transition: all 0.2s ease;
      }
      
      /*hoverをした後のボタンの形状*/
      .button:hover{
        border-color:transparent; 
      }
      
      /*ボタンの中のテキスト*/
      .button span {
        position: relative;
        z-index: 2;/*z-indexの数値をあげて文字を背景よりも手前に表示*/
          /*テキストの形状*/
        display: block;
        padding: 4px 15px;
        background:#5c5d5e;
        border-radius: 25px;
        color:white;
          /*アニメーションの指定*/
        transition: all 0.3s ease;
      }
      
      /*== 下に押し込まれる（立体が平面に） */
      
      /*影の設定*/
      .button:before {
          content:"";
          /*絶対配置で影の位置を決める*/
        position: absolute;
        z-index: -1;
        top:3px;
        left:2px;
          /*影の形状*/
        width: 100%;
        height: 100%;
        border-radius: 25px;
        background-color: #333;
      }
      
      /*hoverの際にY軸に4pxずらす*/
      .button:hover span {
        background-color: rgb(51, 33, 140);
        color: #fff;
        transform: translateY(4px);
      }

    .white_text{
        color: white;
    }

    .delete_wrap {
        text-align: right;
        margin-top: 160px;

        a {
            margin: 0 40px;
        }
    }

    .register {
        margin-top: 200px;
    }

    .text_red {
        color: red;
    }

    // リスト関連
    .list_wrapper {
        .list_header {
            color: white;
            background-color: black;
            text-align: center;
            list-style: none;
            width: 70%;
            margin: auto;
            height: 4vh;
            line-height: 4vh;
            font-size: large;
            display: flex;
            align-items: center;
            margin-top: 30px;
            padding: 0;

            .index1 {
                width: 5%;
            }

            .preview1 {
                width: 20%;
                text-align: center;
            }

            .song_title1 {
                width: 30%;
                text-align: center;
            }

            .artist1 {
                width: 30%;
                text-align: center;
            }

            .status1 {
                width: 15%;
            }

            .save1 {
                width: 11%;
            }

            .delete1 {
                width: 11%;
            }

            li {
                display: inline;
            }
        }
        .list_content {
            color: white;
            background-color: rgba(51, 228, 149, 0.47);
            text-align: center;
            width: 70%;
            margin: auto;
            font-size: large;

            ul {
                list-style: none;
                display: flex;
                align-items: center;

                li {
                    display: inline;
                    height: 4vh;
                    line-height: 4vh;
                }

                .index {
                    width: 5%;
                }

                .preview {
                    width: 20%;
                    text-align: left;
                }

                .song_title {
                    width: 30%;
                    text-align: center;
                    overflow-x: scroll;
                    white-space: nowrap;
                    padding-left: 10px;
                }

                .artist {
                    width: 30%;
                    text-align: center;
                    overflow-x: scroll;
                    white-space: nowrap;
                }

                .status {
                    width: 15%;
                }

                .save {
                    width: 11%;
                    text-align: right;
                    
                    input {
                        background-color: white;
                    }
                }

                .delete {
                    width: 11%;
                }
            }

            .list {
                border-bottom: 1px solid rgb(0, 0, 0);
                width: 100%;
                height: 7vh;
                line-height: 7vh;
                margin-bottom: 0;
                padding: 0;

                img {
                    width: 40%;
                    height: 4vh;
                    line-height: 4vh;
                }
            }
        }
    }
    audio {
        position: absolute;
        width: 12%;
        height: 4%;
        max-width: 180px;
    }
}

.new-button {
    margin: 10px;
  }
  
  @media only screen and (max-width: 670px) {
    .controls {
      display: none;
    }

    .delete_wrap {
        text-align: center !important;
    }
  }

.list_name {
    position: relative;

    .name_list {
        position: relative;
        left: 16%;
        top: 8%;
    }

    .list_title {
        font-size: 2rem;
        position: relative;
        left: 18%;
        top: 10%;
    }
}

.list-head {
    color: white;
    padding-left: calc(52px);
    display: flex;

    h1 {
        width:-moz-fit-content; /* Firefox */
        width:fit-content;
        margin: 10px;
    }
}

.delete_list {
    font-size: 1.3rem;
}