body {

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    
    }
    .white_text {
        color: white;
    }

    .text_center {
        text-align: center;
    }

    .head {
        position: relative;
    }

    .list_change {
        .btn_cubic {
            border-bottom: 5px solid #21366a;
        }

        .btn_cubic:hover {
            margin-top: 3px;
            border-bottom: 2px solid #d75b45;
        }

        .btn_radius {
            border-radius: 100vh;
        }

        .change {
            position: relative;
        }

        .btn_back {
            background-color: #4144a1;
            color: white;
            width: auto;
        }
    }

    .share_list {
        font-size: 1.5rem;
        margin-bottom: 5%;
    }

    .name_wrapper{
        margin-bottom: 5%;
        font-size: 2rem;
    }

    .wrapper {
        width: 100%;
    }
}