body {
    .white_text {
        color: white;
    }

    .text_red {
        color: red;
    }

    .text_center {
        text-align: center;
    }

    .head {
        position: relative;
        font-size: 2rem;
    }

    .list_change {
        text-align: end;
        margin: 50px;
        .btn_cubic {
            border-bottom: 5px solid #21366a;
        }

        .btn_cubic:hover {
            margin-top: 3px;
            border-bottom: 2px solid #d75b45;
        }

        .btn_radius {
            border-radius: 100vh;
        }

        .change {
            position: relative;
        }

        .btn_back {
            background-color: #4144a1;
            color: white;
            width: auto;
        }
    }

    .share_list {
        font-size: 1.5rem;
        margin-bottom: 5%;
    }

    .name_wrapper{
        margin-bottom: 5%;
        font-size: 3rem;
    }

    .wrapper {
        width: 100%;
    }
}

@media only screen and (max-width: 750px) {
    .list_change {
        text-align: center !important;
    }
}

.list_up {
    width: 10%;
    margin: 30px;
    min-width: 100px;
}

.space {
    min-height: 40px;
    margin-top: 10px;
}

.label {
  color: rgb(26, 210, 251);
  text-transform: uppercase;
  text-align: center;
}

