body {
    .white_text {
        color: white;
    }
    .wrapper {
        color: white;
    }

    .text_center {
        text-align: center;
    }

    .head {
        position: relative;
        margin-bottom: 60px;
    }

    .list_change {
        .btn_cubic {
            border-bottom: 5px solid #21366a;
        }

        .btn_cubic:hover {
            margin-top: 3px;
            border-bottom: 2px solid #d75b45;
        }

        .btn_radius {
            border-radius: 100vh;
        }

        .change {
            position: absolute;
            top: 14%;
            left: 72%;
            margin-left: 55px;
        }

        .btn_back {
            background-color: #4144a1;
            color: white;
            width: 10%;
        }
    }

    .make_list {
        text-align: center;
        .btn_cubic {
            border-bottom: 5px solid #21366a;
        }

        .btn_cubic:hover {
            margin-top: 3px;
            border-bottom: 2px solid #d75b45;
        }

        .change {
            position: relative;
        }

        .btn_back {
            background-color: #4144a1;
            color: white;
            width: 10%;
        }
    }

    .share_list {
        text-align: center;
        margin-bottom: 30px;

        select{
            font-size: 2rem;
            margin-right: 20px;
        }
    }
}

.space {
  min-height: 40px;
  margin-top: 15px;
}

.button{
  /*影の基点とするためrelativeを指定*/
  position: relative;
    /*ボタンの形状*/
  text-decoration: none;
  display: inline-block;
  text-align: center;
  background: transparent;
  border-radius: 25px;
  border: solid 1px #333;
  outline: none;
    /*アニメーションの指定*/
  transition: all 0.2s ease;
}

/*hoverをした後のボタンの形状*/
.button:hover{
  border-color:transparent; 
}

/*ボタンの中のテキスト*/
.button span {
  position: relative;
  z-index: 2;/*z-indexの数値をあげて文字を背景よりも手前に表示*/
    /*テキストの形状*/
  display: block;
  padding: 4px 15px;
  background:#5c5d5e;
  border-radius: 25px;
  color:white;
    /*アニメーションの指定*/
  transition: all 0.3s ease;
}

/*== 下に押し込まれる（立体が平面に） */

/*影の設定*/
.button:before {
    content:"";
    /*絶対配置で影の位置を決める*/
  position: absolute;
  z-index: -1;
  top:3px;
  left:2px;
    /*影の形状*/
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-color: #333;
}

/*hoverの際にY軸に4pxずらす*/
.button:hover span {
  background-color: rgb(51, 33, 140);
  color: #fff;
  transform: translateY(4px);
}

.controls2 {
  text-align: center;
  width: 100%;
  margin: 60px;
  margin-left: auto;
}

.new-button {
  margin: 10px;
}

.label {
  color: rgb(26, 210, 251);
  text-transform: uppercase;
  text-align: center;
}

.name_wrapper{
    margin-bottom: 5%;
    font-size: 3rem;
}

.s {
    font-size: 2rem;
    margin-bottom: 20px;
}