<footer>
  <div class="container flex-column justify-content-center text-center">
      <div class="float">
        <p><a class="link link-light text-color" href="#">プライバシーポリシー</a></p>
        <p class="text-light">|</p>
        <p><a class="link link-light text-color" href="#">利用規約</a></p>
        <p class="text-light">|</p>
        <p><a class="link link-light text-color" href="#">お問い合わせ</a></p>
      </div>
      <div class="text-copyright">
        <p>© 2022 KARALIS</p>
      </div>
  </div>
</footer>