<% content_for(:title, t('defaults.questions')) %>
<% content_for :css do %>
    <%= stylesheet_link_tag 'pages/question' %>
<% end %>

<div class="space"></div>

<div class="privacy_wrapper container px-4 px-lg-5 vh-auto white_text">
  <h1 data-v-90cc9602 data-v-7d2f97e8 class="headline">よくある質問</h1>

    <div class="accordion">
        <div class="option">
            <input type="checkbox" id="toggle1" class="toggle">
            <label class="title" for="toggle1">Q1.　リストに追加した曲の公開/非公開設定ができない！</label>
            <div class="content">
                <p>A.　非公開のチェックボックスにチェックを入れたあと、更新ボタンを押して設定を保存してください。</br >
                ※なお、公開/非公開の設定はパソコンからのみ可能です。
                </p>
            </div>
        </div>
    </div>

    <div class="accordion">
        <div class="option">
            <input type="checkbox" id="toggle2" class="toggle">
            <label class="title" for="toggle2">Q2.　リストに曲を追加したいがどこから追加すればいいの？</label>
            <div class="content">
                <p>A.　メニューにある「リスト一覧」を押していただき、作成したリストの名前をクリックしていただくと、曲の追加ボタンが表示されますのでそちらから追加できます。
                </p>
            </div>
        </div>
    </div>

    <div class="accordion">
        <div class="option">
            <input type="checkbox" id="toggle3" class="toggle">
            <label class="title" for="toggle3">Q3.　グループからメンバーを削除したい。</label>
            <div class="content">
                <p>A.　グループの一番上に表示されているメンバーの方のみ、メンバーの削除やグループの解散ができるようになっております。</br >
                　　お手数をおかけしますがコメント欄にてお伝えしていただくか、お問い合わせのフォームからお問い合わせください。</p>
            </div>
        </div>
    </div>
</div>