body {
    .form_group {
      margin-top: 40px;
      text-align: center;
      margin-bottom: 30px;
      textarea {
        margin: auto;
      }
      input {
          margin: auto;
      }
    }

    .row {
        margin-right: 0;
    }

    .field_with_errors {
        display: contents;
    }

    .form {
      font-size: 1rem;
      width: 30%;
      height: 4vh;
    }

    .area_width {
        height: 100px;
    }

    .area {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    input::placeholder {
        color: rgb(5, 5, 5);
        opacity: 0.3;
    }

    .text_right {
        text-align: right;
        margin-bottom: 20px;
    }

    .text_center {
        text-align: center;
    }

    .register {
        width: 20%;
    }

    .position {
        margin-top: 2%;
    }

    .white_text{
        color: white;
    }

    .list_title {
        text-align: center;
    }

    h1 {
        text-align: center;
        color: white;
        margin-top: 20px;
    }

    .display {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .flex {
        display: flex;
    }
    
}