body {
    .white_text {
        color: white;
    }

    .name {
        position: relative;
        left: 3%;
        background-color: #2e2f348a;
        text-align: center;
        z-index: 2;
        width: 50%;
        display: inline-block;
        font-size: 2rem;
    }

    .name_title {
        position: relative;
        font-size: 0.8rem;
        left: 3%;
        z-index: 3;
        border-bottom: 3px solid #9a2f2f;
        display: inline-block;
    }

    .flex {
        display: flex;
    }

    .margin {
        margin-top: 45px;
    }


    .group {
      width: 78%;
      margin: 0 auto;
      background-color: #1cff6f91;
    }

    .group-heads {
        font-size: 40px;
        color: rgb(0, 0, 0);
        padding-left: 30px;
        margin-top: 20px;
    }

    .grouplist {
        height: 20vh;
        width: 100%;
        flex-wrap: wrap;
        display: inline-block;
    }

    .group_wrap {
        display: flex;
    }

    .member_name {
        text-align: center;
        margin-top: 30px;
        width: 33%;
        display: inline-block;
    }

    .over_view {
        width: 30%;
        top: 11%;
        left: 30%;
    }
    

    .readmore{
        position: relative;
        box-sizing: border-box;
        padding: 5px;
        border-bottom: 2px solid #c6c6c6b8;
    }
    
    .readmore-content{
        position: relative;
        overflow: hidden;
        height: 50px;
    }

    
    /* 続きを読むボタン */
    .readmore-label{
        display: table;
        bottom: 5px;
        position: absolute;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        margin: 0 auto;
        z-index: 2;
        padding: 0 10px;
        background-color: #222222;
        border-radius: 10px;
        color: #FFF;
    }
    .readmore-label:before{
        content: '続きを読む';
    }
    
    .readmore-check{
        display: none;
    }
    /*チェック時にボタンを非表示*/
    .readmore-check:checked ~ .readmore-label{
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
    .readmore-check:checked ~ .readmore-label:before{
        content: '閉じる';
    }
    /*チェック時に高さを自動に戻す*/
    .readmore-check:checked ~ .readmore-content{
        height: auto;
    }
    /*チェック時グラデーション等を削除*/
    .readmore-check:checked ~ .readmore-content::before {
        display: none;
    }

    .head_text {
        font-size: 0.8rem;
        border-bottom: 3px solid #9a2f2f;
        display: inline-block;
    }

    .name_wrap {
        position: relative;
        margin-top: 26px;
        width: 30%;
        top: 7%;
        left: 14%;
    }

    .join_button {
        display: inline-block;
        input {
            margin: 15px;
        }
    
        .button{
            /*影の基点とするためrelativeを指定*/
            position: relative;
            /*ボタンの形状*/
            text-decoration: none;
            display: inline-block;
            text-align: center;
            background: transparent;
            border-radius: 25px;
            border: solid 1px #333;
            outline: none;
                /*アニメーションの指定*/
            transition: all 0.2s ease;
        }
        
        /*hoverをした後のボタンの形状*/
        .button:hover{
            border-color:transparent; 
        }
        
        /*ボタンの中のテキスト*/
        .button {
            position: relative;
            z-index: 2;/*z-indexの数値をあげて文字を背景よりも手前に表示*/
                /*テキストの形状*/
            padding: 10px 30px;
            background:rgb(104, 182, 221);
            border-radius: 25px;
            color:#333;
                /*アニメーションの指定*/
            transition: all 0.3s ease;
        }
        
        /*== 下に押し込まれる（立体が平面に） */
        
        /*影の設定*/
        .button:before {
            content:"";
            /*絶対配置で影の位置を決める*/
            position: absolute;
            z-index: -1;
            top:3px;
            left:2px;
                /*影の形状*/
            width: 100%;
            height: 100%;
            border-radius: 25px;
            background-color: #333;
        }
        
        /*hoverの際にY軸に4pxずらす*/
        .button:hover {
            background-color: rgba(255, 68, 0, 0.784);
            color: #fff;
            transform: translateY(4px);
        }
    }

    .share_form {
        padding-top: 30px;
        text-align: right;
        position: relative;
        margin-right: 40px;
        select {
            height: 30%;
        }
    }

    .navbar-expand-lg .navbar-collapse{
        display: none !important;
    }
}