body {
    .white_text {
        color: white;
    }

    .name {
        position: relative;
        top: 13%;
        left: 3%;
        font-size: 2rem;
        background-color: #2e2f348a;
        text-align: center;
        z-index: 2;

        p {
          overflow-wrap: break-word;
          word-wrap: break-word;
          margin-bottom: 2rem;
        }
    }

    .name_title {
        position: relative;
        font-size: 0.8rem;
        padding-right: 10px;
        left: 3%;
        width: 30%;
        z-index: 3;
        display: inline-block;
    }

    .description {
        font-size: 1rem;
        word-wrap: break-word;
    }

    .head_text {
        font-size: 0.8rem;
        padding-right: 10px;
    }

    .over_view {
        position: absolute;
        width: 30%;
        top: 4%;
    }
    

    .readmore{
        position: relative;
        box-sizing: border-box;
        padding: 5px;
        border-bottom: 2px solid #c6c6c6b8;
        margin-right: 40px;
        margin-left: auto;
    }
    
    .readmore-content{
        position: relative;
        overflow: hidden;
        height: 50px;
    }

    
    /* 続きを読むボタン */
    .readmore-label{
        display: table;
        bottom: 5px;
        position: absolute;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        margin: 0 auto;
        z-index: 2;
        padding: 0 10px;
        background-color: #222222;
        border-radius: 10px;
        color: #FFF;
    }
    .readmore-label:before{
        content: '続きを読む';
    }
    
    .readmore-check{
        display: none;
    }
    /*チェック時にボタンを非表示*/
    .readmore-check:checked ~ .readmore-label{
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
    .readmore-check:checked ~ .readmore-label:before{
        content: '閉じる';
    }
    /*チェック時に高さを自動に戻す*/
    .readmore-check:checked ~ .readmore-content{
        height: auto;
    }
    /*チェック時グラデーション等を削除*/
    .readmore-check:checked ~ .readmore-content::before {
        display: none;
    }


    .flex {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      margin-top: 20px;
      flex-wrap: wrap;
    }

    .group-head {
      font-size: 40px;
      color: white;
      text-align: center;
    }

    .group {
      width: 100%;
      max-width: 800px;
      margin: 0 auto;
      border: solid;
      border-color: rgb(255, 255, 255);
      background-color: rgba(44, 39, 39, 0.552);
      margin: 20px;
      min-width: 500px;
    }



    .grouplist {
        width: 80%;
        text-align: center;
        margin: auto;
    }
    .new-button {
        margin: 30px;
      }

      .button{
      /*影の基点とするためrelativeを指定*/
      position: relative;
        /*ボタンの形状*/
      text-decoration: none;
      display: inline-block;
      text-align: center;
      background: transparent;
      border-radius: 25px;
      border: solid 1px #333;
      outline: none;
        /*アニメーションの指定*/
      transition: all 0.2s ease;
    }
    
    /*hoverをした後のボタンの形状*/
    .button:hover{
      border-color:transparent; 
    }
    
    /*ボタンの中のテキスト*/
    .button span {
      position: relative;
      z-index: 2;/*z-indexの数値をあげて文字を背景よりも手前に表示*/
        /*テキストの形状*/
      display: block;
      padding: 10px 30px;
      background:rgb(104, 182, 221);
      border-radius: 25px;
      color:#333;
        /*アニメーションの指定*/
      transition: all 0.3s ease;
    }
    
    /*== 下に押し込まれる（立体が平面に） */
    
    /*影の設定*/
    .button:before {
        content:"";
        /*絶対配置で影の位置を決める*/
      position: absolute;
      z-index: -1;
      top:3px;
      left:2px;
        /*影の形状*/
      width: 100%;
      height: 100%;
      border-radius: 25px;
      background-color: #333;
    }
    
    /*hoverの際にY軸に4pxずらす*/
    .button:hover span {
      background-color: rgb(51, 33, 140);
      color: #fff;
      transform: translateY(4px);
    }

    .text_red {
      color: red;
    }

    .memberflex {
      display: flex;
    }

    .list_item {
      display: inline-block;
    }

    .delete_btn {
      position: absolute;
    }

    .table {
      margin-bottom: 30px;
    }
    
    .th_top {
      border-top: none;
    }

    .tr_top {
      border-top: none;
    }

    .user {
      width: 13%;
    }

    .list {
      width: 20%;
    }

    .date {
      width: 10%;
    }

    .destroy {
      width: 10%;
      border-bottom: 1px solid #dee2e6;
    }

    tbody {
      width: 70%;
    }

    .list_change {
      position: relative;
      text-align: center;
      margin-top: 30px;
      margin-bottom: 30px;

      .btn_cubic1 {
          border-bottom: 5px solid #21366a;
      }

      .btn_cubic1:hover {
          margin-top: 3px;
          border-bottom: 2px solid #d75b45;
      }

      .btn_cubic2 {
          border-bottom: 5px solid #21366a;
      }

      .btn_cubic2:hover {
          margin-top: 3px;
          border-bottom: 2px solid #45d74f;
      }


      .btn_radius {
          border-radius: 100vh;
      }

      .change {
          top: 14%;
          left: 72%;
          margin-left: 30px;
          margin-right: 30px;
          min-width: 170px;
      }

      .btn_back {
          background-color: #4144a1;
          color: white;
          width: 10%;
      }
    }

    .leave {
      text-align: right;
      margin-right: 10px;
      margin-bottom: 10px;
      display: grid;
    }

    .edit {
      position: relative;
    }

    tr {
      border-top: 1px solid #dee2e6;
      border-bottom: 1px solid #dee2e6;
    }

    .text_center {
      text-align: center;
    }

    .name_wrapper {
      position: relative;
      width: 30%;
    }

    .name_head {
      justify-content: space-between;
      width: 90%;
    }

    .end_align {
      text-align: end;
    }

    // コメント
    .board {
      width: 100%;
      max-width: 400px;
      border: 1px solid;
    }

    .text_right {
      text-align: left;
    }

    .comment_form {
      margin-top: 10px;
      margin-bottom: 10px;
       form {
        display: flex;
        justify-content: center; /*左右中央揃え*/
        align-items: center;
       }
    }

    .content_size {
      height: 250px;
      overflow-y: scroll;
      margin: 10px;
      background-color: #38c0ff;
    }

    .content_size::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
  }
  

  .content_size::-webkit-scrollbar-thumb {
    background-image: linear-gradient(180deg, #1511ff 0%, #708AD4 99%);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
    border-radius: 100px;
}

  .content_size::-webkit-scrollbar-track {
    background: #ffffffab;
  }

    .bubble {
      position: relative;
      margin: 2em auto 2em auto;
      padding: 15px;
      background: #fff0c6;
      border-radius: 20px;
      width: 78%;
      padding-top: 3px;
      padding-bottom: 2px;
    }
    .bubble:before {
      content: "";
      position: absolute;
      left: -38px;
      width: 13px;
      height: 12px;
      bottom: 0;
      background: #fff0c6;
      border-radius: 50%;
    }
    .bubble::after {
      content: "";
      position: absolute;
      left: -24px;
      width: 20px;
      height: 18px;
      bottom: 3px;
      background: #fff0c6;
      border-radius: 50%;
    }
    .bubble p {
      margin: 0; 
      padding: 0;
      word-break: break-all;
    }

    .comment_text {
      color: black;

      p {
        text-align: left;
      }
    }


    .comment_delete {
      text-align: end !important;

      a {
        color: red;
        font-size: 13px;
      }
    }

    .comment_name {
      font-size: 15px;
      margin-top: 10px !important;
    }

    .comment_content {
      font-size: 20px;
      font-family: serif;
      margin: 10px !important;
    }

    .comment_date {
      font-weight: lighter;
      font-size: 12px;
      margin-left: 14px;
    }
}