@import 'bootstrap';
$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';
@import "validationEngine.jquery";
@import 'swiper/swiper-bundle';



html {
  height: 100%;

  body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #1b1c21f0;
    height: 100vh;
  }

  main {
    flex: 1;
  }

  // ヘッダー
  header {
    width: 100%;
    align-items: center;
    border-bottom: 1px solid rgba(255,255,255,0.15);
    background-color: rgba(15,17,17,0.37);
    z-index: 99;
    .logo {
      padding-top: 10px;
      width: 250px;
      height: 65px;
    }
    @media only screen and (max-width: 540px) {
      .logo {
        padding-top: 10px;
        width: 136px;
        height: 40px;
      }
    }
    header a {
      padding-left: 0;
    }

    @media only screen and (max-width: 1000px) {
      .head_link1  {
        top:15px;
        left: 42% !important;
        p { 
          width: 0;
        }
        span {
          display: none;
        }
      }

      .head_link2  {
        top: 15px;
        left: 53% !important;
        p { 
          width: 0;
        }
        span {
          display: none;
        }
      }

      .head_link3  {
        top:15px;
        left: 66% !important;
        p { 
          width: 0;
        }
        span {
          display: none;
        }
      }
    }


    .link:hover {
      color:#1ad2fb;
    }
    
    .link {
      margin-bottom: 0;
    }
    
    .head_font {
      font-size: 1rem;
    }

    .fa-solid {
      font-size: 1.5rem;
    }

    .navbar-brand {
      margin-right: 30px;
      margin-left: 15px;
    }

    .head_link1 {
      position: absolute;
      left: 32%;
    }
    .head_link2 {
      position: absolute;
      left: 47%;
    }
    .head_link3 {
      position: absolute;
      left: 62%;
    }
  }
  
  // フッター
  footer {
    bottom: 0;
    width: 100%;
    display: flex;
    background-color: rgba(19,20,19,0.9);
    box-shadow: black;
  
    p {
      display: inline;
    }
  
    .text-copyright p {
      color: white;
    }
  }
  
  .text-color {
    color: white;
  }
}

// フラッシュメッセージ
.alert {
  color: red;
  position: absolute;
  padding: 0px;
  border: 0px;
  margin-bottom: 0px;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 20px;
  z-index: 1000;
}

.notice {
  position: absolute;
  color: rgb(0, 255, 47);
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 20px;
  z-index: 1000;
}

.success {
  position: absolute;
  color: rgb(110, 207, 255);
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 20px;
  z-index: 1000;
}

// パーシャル共有

.back_to_page {
  text-align: right;
  margin-top: 50px;
  font-size: 2rem;
  padding-right: 150px;
}

#error_explanation {
  color: white;
  margin-top: 50px;
  h2 {
    font-size: 1.5rem;
  }
  
  li {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: red;
    list-style-position: inside;
  }
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-light .navbar-toggler {
  border-color: white;
}
.navbar-toggler{
  background-color: #000000;
  margin-right: 13px;
}
.navbar {
  padding: 0;
  backdrop-filter: blur(12px);
}

@media only screen and (max-width: 540px) {
  .navbar-nav .ml-5{
    margin-left: 0 !important;

    a {
      padding-left: 0;
    }
  }
}

@media only screen and (max-width: 540px) {
  .navbar-nav .mr-3{
    margin-right: 0 !important;
  }
}
@media only screen and (max-width: 993px) {
  .smphidden {
    display: none;
  }

  .navbar-collapse {
    flex-basis: 0;
  }

  .navbar-nav {
    flex-direction: unset;
    justify-content: space-around;
  }
}

.teketeke {
  text-align: center;
}

.text_red {
  color: red;
}