body {
    .white_text {
        color: white;
    }

    .change_btn {
        position: relative;
        text-align: right;
        margin-top: 50px;
  
        .btn_cubic1 {
            border-bottom: 5px solid #21366a;
        }
  
        .btn_cubic1:hover {
            margin-top: 3px;
            border-bottom: 2px solid #d75b45;
        }
  
        .btn_cubic2 {
            border-bottom: 5px solid #21366a;
        }
  
        .btn_cubic2:hover {
            margin-top: 3px;
            border-bottom: 2px solid #45d74f;
        }
  
  
        .btn_radius {
            border-radius: 100vh;
        }
  
        .change {
            top: 14%;
            left: 72%;
            margin-left: 55px;
        }
  
        .btn_back {
            background-color: #4144a1;
            color: white;
            width: 15%;
        }
      }

      .text_center {
          text-align: center;
      }

    .email {
        box-shadow: rgb(0, 0, 0) 0px 2px 10px;
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        width: 100%;
        padding: 2rem;
        max-width: 550px;
        margin: auto;
        color: black;
        min-width: 360px;
    }

    .actions {
        margin-top: 40px;
    }

    .container {
        margin: auto;
    }

    h1 {
        margin-bottom: 30px;
    }

    .description {
        white-space: pre-wrap;
    }

    .email_text {
        display: inline-block;
        width: 100%;
        padding: 0.5em;
        border: 1px solid #999;
        box-sizing: border-box;
        background: #f2f2f2;
        margin-bottom: 2rem;
    }

    label {
        margin-bottom: 0;
    }

    .send_btn {
        text-align: center;

        input {
            width: 50%;
            box-sizing: border-box;
        }
    }

    .to_login {
        margin-top: 2rem;
    }

    .login_btn {
        margin-right: 3rem;
    }
}

.space {
  min-height: 40px;
  margin-top: 10px;
}

.a {
    text-align: center;
}

h2 {
    text-align: center;
}

ul li {
    text-align: center;
}

.center {
    justify-content: center;
}