body {
    .white_text {
        color: white;
    }

    .z_index2 {
        z-index: 2;
        position: relative;
    }

    .z_index1 {
        z-index: 1;
    }

    .text_align {
        text-align: center;
    }

    .block {
        display: inline-grid;
    }

    .background_img {
        width: 50%;
        height: 570px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 1;
        position: absolute;
        top: 0px;
        left: 0px;
    }

    .margin_auto {
        margin: auto;
    }
}