* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.wrapper {
  width: 645px;
  height: 438px;
  background: rgb(255, 255, 255);
  opacity: 1;
  position: relative;
  top: 250px;
  left: 600px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden;
}

.login_btn {
  width: 120px;
  height: 28px;
  background: rgba(247,250,86,1);
  opacity: 1;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.login_btn:active {
	transform: translate(0,2px);
	border-bottom:none;
}

.login_btn:hover {
  color: rgb(0, 174, 255);
}

.line_btn {
  width: 190px;
  height: 53px;
  background: rgba(0,195,0,1);
  color: rgba(255,255,255,1);
  font-family: Righteous;
  font-weight: Regular;
  font-size: 28px;
  text-align: center;
  position: relative;
  opacity: 1;
  top: 98px;
  left: 60px;
  border: 1px solid rgba(112,112,112,1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
  z-index: 1;
  box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.25);
}

.line_btn:active {
  transform: translate(0,2px);
	border-bottom:none;
}

.line_icon {
  opacity: 1;
  position: absolute;
  top: 190px;
  left: 66px;
  overflow: hidden;
  z-index: 2;
}
.line_text {
  width: 68px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 195px;
  left: 60px;
  font-family: Righteous;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.login_text {
  width: 60px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 258px;
  left: 420px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
  text-shadow:1px 0 5px black;
}

.password_text {
  width: 200px;
  color: rgba(0,0,0,0.30000001192092896);
  position: absolute;
  top: 180px;
  left: 400px;
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  text-align: left;
  padding-left: 40px;
}
.email_text {
  width: 200px;
  color: rgba(0,0,0,0.30000001192092896);
  position: absolute;
  top: 140px;
  left: 400px;
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  opacity: 1;
  padding-left: 40px;
}

.or_text{
  width: 30px;
  color: rgba(0,0,0,0.550000011920929);
  position: absolute;
  top: 193px;
  left: 305px;
  font-family: Righteous;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.new_text {
  width: 150px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 346px;
  left: 247px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.forget_text {
  width: 130px;
  color: rgba(50,166,192,1);
  position: absolute;
  top: 301px;
  left: 480px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.underline {
  width: 541px;
  opacity: 1;
  position: absolute;
  top: 321px;
  left: 37px;
  border: 1px solid rgba(0,0,0,0.20999999344348907);
}
.register_btn {
  width: 165px;
  background: rgba(255,251,251,1);
  opacity: 1;
  border: 1px solid rgba(0,0,0,0.36000001430511475);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 2px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.register_btn:active {
  -webkit-transform: translate(0,2px);
	-moz-transform: translate(0,2px);
	transform: translate(0,2px);
	border-bottom:none;
}

.register_text {
  width: 60px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 387px;
  left: 240px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.email_icon {
  width: 15px;
  height: 15px;
  opacity: 1;
  position: absolute;
  top: 145px;
  left: 413px;
  overflow: hidden;
}
.key_icon {
  width: 15px;
  height: 15px;
  opacity: 1;
  position: absolute;
  top: 185px;
  left: 413px;
  overflow: hidden;
}

.remember_me {
  width: 200px;
  position: absolute;
  top: 220px;
  left: 400px;
}

button.close {
  margin-top: 20px;
  margin-right: 20px;
}

.logo2 {
  height: 60px;
  margin-top: 28px;
  margin-left: 206px;
}
